* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  padding: 30px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  background: #00a2ff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}

button:hover {
  background: #004f7c;
}

button:disabled {
  background: grey;
  pointer-events: none;
}

li {
  list-style: none;
  text-align: left;
}

.item-list {
  width: 600px;
}

.item-list li {
  margin-bottom: 18px;
  padding-bottom: 22px;
  border-bottom: 2px solid grey;
}

.item-list li .list-price {
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
}

.item-list li .details-btn {
  float: right;
}

.details {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}

.details .details-content {
  position: absolute;
  width: 400px;
  height: 300px;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
  background: lightgray;
  padding: 30px;
}

.details .details-content .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.details .details-content .details-inner {
  width: 280px;
}

.details .details-content .details-inner h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.details .details-content .details-inner h3 {
  font-size: 18px;
  color: #313131;
  margin-bottom: 10px;
}

.details .details-content .details-inner .weight, .details .details-content .details-inner .price {
  display: block;
  margin-bottom: 10px;
}

.details .details-content .details-inner label {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.details .details-content .details-inner select {
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
}

.details .details-content .details-inner .color-select {
  display: block;
}

.details .details-content .details-inner .other-option {
  display: none;
}

.details .details-content .details-inner .other-option.active {
  display: block;
}

.details .details-content .details-inner button {
  position: absolute;
  bottom: 30px;
}

.details .details-content .details-inner button.added {
  background: #00a050;
  pointer-events: none;
}

.details .details-content .details-inner .added-msg, .details .details-content .details-inner .unavail-msg {
  position: absolute;
  left: 190px;
  bottom: 38px;
}

.details.active {
  display: block;
}

.cart {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.cart .cart-hover {
  position: absolute;
  top: 100%;
  right: 0;
  background: lightgray;
  display: none;
  width: 300px;
  padding: 20px;
}

.cart .cart-hover h4 {
  font-size: 16px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.cart:hover .cart-hover {
  display: block;
}

.checkout {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 0;
  background: lightgray;
  display: none;
  padding: 30px;
}

.checkout .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.checkout h2 {
  margin-bottom: 20px;
}

.checkout li {
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.checkout li h3 {
  margin-bottom: 5px;
}

.checkout li .specs {
  margin-bottom: 5px;
  display: inline-block;
}

.checkout li .specs span {
  display: inline-block;
  margin-right: 5px;
}

.checkout li .specs span:nth-child(2) {
  border-left: 2px solid grey;
  padding-left: 5px;
}

.checkout li .qty-price {
  float: right;
  margin-top: -6px;
}

.checkout li .qty-price .qty-wrapper {
  text-align: right;
}

.checkout li .qty-price .item-qty {
  display: inline-block;
  width: 15px;
  text-align: center;
}

.checkout li .qty-price .qty-btn {
  background: white;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.checkout li .qty-price .qty-btn.disabled {
  opacity: .5;
  pointer-events: none;
}

.checkout li .qty-price .qty-btn:last-child {
  margin-right: 0;
}

.checkout li .qty-price .price-tot {
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
  display: inline-block;
}

.checkout li .remove {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.checkout.active {
  display: block;
}
